/* Estilos para el encabezado */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

/* Estilos para el formulario */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para la lista de notas */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
/* Estilos para la lista de notas */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
