/* styles.css */

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    margin: 0;
    font-family: Arial, sans-serif;
}

header, nav, main, footer {
    padding: 20px;
}

header, footer {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
}

nav {
    height: 20px;
    background-color: rgb(0, 0, 0); 
    border: 1px solid #ccc;
    margin-bottom: 0; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%; 
}

nav ul li {
    flex-grow: 1;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
}

main {
    display: grid;
    grid-template-columns: 70% 30%; 
    gap: 20px;
}

section:nth-child(1) { 
    grid-column: 1 / span 1; 
}

section:nth-child(2) { 
    grid-column: 2 / span 1; 
}

section {
    background-color: #f9f9f9;
    padding: 20px;
    height: auto;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 80px 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

footer p {
    margin: 0;
}
