@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333; ;
}

header {
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
}

nav {
    background-color: #36454f;
    display: flex;
    flex: 1;
    align-items: center;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
}

nav a {
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    text-decoration: underline double;
    color: yellow;
}

.active {
    color: yellow;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main h2 {
    grid-area: heading;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

figure {
    margin: 0;
    grid-area: auto; 
}

figure img {
    width: 253.33px;
    height: 281.34px;
    object-fit: cover; /* Para mantener la relación de aspecto sin distorsionar */
}

.hamburger {
    display: none; 
    cursor: pointer;
    padding: 10px;
}

