* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: grid;
    grid-template-rows: 100px auto auto;
}

header {
    padding: 1rem;
    background-color: #47282f;
}

h1 {
    color: white;
    padding: 1rem;
    padding-left: 2rem;
    font-family: "Roboto", serif;
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: none;
    padding: 1rem;
    background-color: #47282f;
    color: white;
    font-family: "Roboto", serif;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    width: 45%;
    margin-right: 0;
    margin-left: auto;
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    width: 100%;
}

h2 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #111111;
    font-family: "Roboto", serif;
}

#temples {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.image1 {
    display: grid;
    grid-template-columns: 1fr;
}

.img {
    max-width: 90%;
    display: block;
    margin: 1rem auto;
}

.open a {
    display: block;
}

a:hover {
    background-color: #963232;
    color: black;
    font-weight: 700;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
}

#menu::before {
    content: "☰";
    font-size: 40px;
}

#menu.open::before {
    content: "x";
}

footer {
    background-color: #47282f;
    color: white;
    padding: 1rem 1rem 3rem 1rem;
    text-align: center;
}